.infoView {
    --space-between: 10px;

    user-select: none;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--fontSize-Base from global);
    padding: 0;
    margin: 0;
    box-shadow: none;
    transition: none;
}

.propertyLabel {
    font-weight: normal;
    margin: 0;
    padding: var(--space-between) 0 2px;
    font-size: var(--fontSize-Small from global);
    color: var(--colors-ContrastBright from global);

    &:first-child {
        padding-top: 0;
    }
}

.propertyValue {
    margin: 0;
    padding: 0 0 var(--space-between);
    white-space: normal;

    &:last-child {
        padding-bottom: 0;
    }
}

.propertyValue a {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;

    &:is(:hover, :focus) {
        color: var(--colors-PrimaryBlue from global);
    }
}

.propertyValue img {
    width: 100%;
    height: auto;
}
