@import "Variables";

.jonnitto-prettyembed {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:hover,
  &:focus {
    .jonnitto-prettyembed-button--play {
      transform: translate(-50%, -50%) scale(1);
    }

    .jonnitto-prettyembed-button--pause {
      opacity: 1;
    }
  }
}

.jonnitto-prettyembed--play {
  .jonnitto-prettyembed-button--play {
    opacity: 0;
  }
}

.jonnitto-prettyembed-button {
  color: $prettyembed-button-foreground-color;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.jonnitto-prettyembed-button--play {
  display: block;
  top: 50%;
  left: 50%;
  width: $prettyembed-play-button-size;
  height: $prettyembed-play-button-size;
  opacity: 0.8;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.25s ease-in-out, opacity 0.25s linear;
}

.jonnitto-prettyembed-button--pause {
  display: none;
  top: $prettyembed-pause-button-margin;
  left: $prettyembed-pause-button-margin;
  width: $prettyembed-pause-button-size;
  height: $prettyembed-pause-button-size;
  transition: opacity 0.25s linear;
  opacity: 0;
}

.jonnitto-prettyembed-button__background {
  fill: $prettyembed-button-background-color;
  fill-opacity: $prettyembed-button-background-opactiy;
  stroke-width: 5;
}

@if $prettyembed-include-lightbox {
  .jonnitto-prettyembed--lightbox {
    cursor: pointer;
  }

  .jonnitto-prettyembed__lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    font-size: 0;
    transition: opacity 0.2s, z-index 0s 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    background: rgba($prettyembed-overlay-color, $prettyembed-overlay-opacity);
    padding: $prettyembed-lightbox-padding;

    .-jonnitto-prettyembed__lightbox & {
      z-index: $prettyembed-z-index;
      opacity: 1;
      transition: opacity 0.2s;
      pointer-events: initial;
    }
  }

  .jonnitto-prettyembed__inner {
    width: 100%;
    max-width: $prettyembed-lightbox-max-width;
    transform: scale(0);
    transition: transform 0.2s;

    .-jonnitto-prettyembed__lightbox & {
      transform: scale(1);
    }
  }

  .jonnitto-prettyembed__content {
    line-height: 0;
    box-shadow: $prettyembed-shadow;
  }

  .jonnitto-prettyembed__close {
    position: relative;
    display: block;
    z-index: 1;
    padding: 10px 16px;
    margin: calc(-1em - 10px) -18px -8px auto;
    font-size: $prettyembed-close-size;
    font-family: Arial, Baskerville, monospace;
    font-style: normal;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    color: $prettyembed-controls-color;
    opacity: $prettyembed-controls-opacity;
    transition: opacity 0.2s;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}
