@import "Variables";

.jonnitto-prettyembed {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: none;
  }
}

@if $prettyembed-lightbox-include {
  .jonnitto-prettyembed--lightbox {
    cursor: pointer;
  }

  .jonnitto-prettyembed__lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    font-size: 0;
    transition: opacity 0.2s, z-index 0s 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    background: rgba($prettyembed-lightbox-overlay-color, $prettyembed-lightbox-overlay-opacity);
    padding: $prettyembed-lightbox-padding;

    @if $prettyembed-lightbox-backdrop-filter {
      backdrop-filter: $prettyembed-lightbox-backdrop-filter;
    }

    .-jonnitto-prettyembed__lightbox & {
      z-index: $prettyembed-lightbox-z-index;
      opacity: 1;
      transition: opacity 0.2s;
      pointer-events: initial;
    }
  }

  .jonnitto-prettyembed__inner {
    width: 100%;
    max-width: $prettyembed-lightbox-max-width;
    transform: scale(0);
    transition: transform 0.2s;

    .-jonnitto-prettyembed__lightbox & {
      transform: scale(1);
    }
  }

  .jonnitto-prettyembed__content {
    line-height: 0;
    box-shadow: $prettyembed-lightbox-shadow;
  }

  .jonnitto-prettyembed__close {
    position: relative;
    display: block;
    z-index: 1;
    padding: 10px 16px;
    margin: calc(-1em - 10px) -18px -8px auto;
    font-size: $prettyembed-lightbox-close-size;
    font-family: Arial, Baskerville, monospace;
    font-style: normal;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    color: $prettyembed-lightbox-close-color;
    opacity: $prettyembed-lightbox-close-opacity;
    transition: opacity 0.2s linear;

    &:hover,
    &:focus,
    &:active {
      opacity: $prettyembed-lightbox-close-opacity-hover;
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}
