:is(.jonnitto-prettyembed, .jonnitto-prettyembed-lightbox__content) {
  display: block;
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0 solid transparent;

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  & > :is(audio, iframe, video) {
    display: block;
    border: 0 solid transparent;
    width: 100%;
    max-height: 100%;
    max-width: none;
    outline: none;
    margin: 0;
    padding: 0;
    isolation: isolate;
  }
}

.jonnitto-prettyembed-preview {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.jonnitto-prettyembed-pointer-none {
  pointer-events: none;
}

.jonnitto-prettyembed-ratio {
  aspect-ratio: var(--aspect-ratio, #{"16 / 9"});

  & :where(iframe, video) {
    aspect-ratio: var(--aspect-ratio, #{"16 / 9"});
  }
}

:is(.jonnitto-prettyembed, .jonnitto-prettyembed-lightbox, .jonnitto-prettyembed-backdrop) [x-cloak] {
  visibility: hidden !important;
  pointer-events: auto !important;
}

a.jonnitto-prettyembed {
  text-decoration: none;
}

@if $prettyembed-lightbox-include {
  .jonnitto-prettyembed-lightbox {
    position: fixed;
    inset: 0;
    font-size: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    z-index: var(--prettyembed-lightbox-z-index, $prettyembed-lightbox-z-index);
    padding: var(--prettyembed-lightbox-padding, $prettyembed-lightbox-padding);

    & :where(iframe, video) {
      box-shadow: var(--prettyembed-lightbox-shadow, $prettyembed-lightbox-shadow);
    }
  }

  .jonnitto-prettyembed-backdrop {
    z-index: calc(var(--prettyembed-lightbox-z-index, $prettyembed-lightbox-z-index) - 1);
    background: var(--prettyembed-lightbox-overlay-background, $prettyembed-lightbox-overlay-background);
    position: fixed;
    inset: 0;

    @if $prettyembed-lightbox-backdrop-filter {
      backdrop-filter: var(--prettyembed-lightbox-backdrop-filter, $prettyembed-lightbox-backdrop-filter);
    }
  }

  .jonnitto-prettyembed-lightbox__inner {
    width: 100%;
    max-width: var(--prettyembed-lightbox-max-width, $prettyembed-lightbox-max-width);
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .jonnitto-prettyembed-lightbox__content {
    line-height: 0;
    max-height: calc(99vh - (var(--prettyembed-lightbox-padding, $prettyembed-lightbox-padding) * 1.5 + var(--prettyembed-lightbox-close-size, $prettyembed-lightbox-close-size)));
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .jonnitto-prettyembed-lightbox__close {
    position: relative;
    display: block;
    z-index: 1;
    padding: 10px 16px;
    margin: calc(-1em - 10px) -18px -8px auto;
    font-size: var(--prettyembed-lightbox-close-size, $prettyembed-lightbox-close-size);
    font-family: Arial, Baskerville, monospace;
    font-style: normal;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    color: var(--prettyembed-lightbox-close-color, $prettyembed-lightbox-close-color);
    opacity: var(--prettyembed-lightbox-close-opacity, $prettyembed-lightbox-close-opacity);
    transition: opacity 0.2s linear;

    &:is(:hover, :focus, :active) {
      opacity: var(--prettyembed-lightbox-close-opacity-hover, $prettyembed-lightbox-close-opacity-hover);
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}
