.jonnitto-prettyembed-button {
  position: absolute;
  inset: 0;
  z-index: 1;
  border: 0;
  background: transparent;
  color: $prettyembed-button-foreground-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s linear;

  @if ($prettyembed-button-opacity != 1) {
    opacity: $prettyembed-button-opacity;
  }

  & > * {
    pointer-events: none;
  }

  &:is(:hover, :focus) > svg {
    transform: scale($prettyembed-button-scale-hover);
  }

  &:active > svg {
    transform: scale($prettyembed-button-scale-active);
  }

  & svg {
    width: $prettyembed-button-play-size;
    height: $prettyembed-button-play-size;
    transform: scale($prettyembed-button-scale);
    transition:
      transform 0.25s ease-in-out,
      opacity 0.25s linear;
  }
}

.jonnitto-prettyembed-button__background {
  fill: $prettyembed-button-background-color;
  fill-opacity: $prettyembed-button-background-opactiy;
  stroke-width: 5;
}

.jonnitto-prettyembed-button--pause {
  top: auto;
  bottom: $prettyembed-button-pause-margin;
  left: $prettyembed-button-pause-margin;
  width: $prettyembed-button-pause-size;
  height: $prettyembed-button-pause-size;
  transition: opacity 0.25s linear;
  opacity: 0;
}

:is(.jonnitto-prettyembed, .jonnitto-prettyembed-lightbox__content):is(:hover, :focus) .jonnitto-prettyembed-button--pause {
  opacity: $prettyembed-button-opacity;
}
