@use "Variables";

.jonnitto-prettyembed-button {
  position: absolute;
  inset: 0;
  z-index: 1;
  border: 0;
  background: transparent;
  color: var(--prettyembed-button-foreground-color, Variables.$prettyembed-button-foreground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s linear;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  @if (Variables.$prettyembed-button-opacity != 1) {
    opacity: var(--prettyembed-button-opacity, Variables.$prettyembed-button-opacity);
  }

  & > * {
    pointer-events: none;
  }

  &:is(:hover, :focus) > svg {
    transform: scale(var(--prettyembed-button-scale-hover, Variables.$prettyembed-button-scale-hover));
  }

  &:active > svg {
    transform: scale(var(--prettyembed-button-scale-active, Variables.$prettyembed-button-scale-active));
  }

  & svg {
    width: var(--prettyembed-button-play-size, Variables.$prettyembed-button-play-size);
    height: var(--prettyembed-button-play-size, Variables.$prettyembed-button-play-size);
    transform: scale(var(--prettyembed-button-scale, Variables.$prettyembed-button-scale));
    transition:
      transform 0.25s ease-in-out,
      opacity 0.25s linear;
  }
}

.jonnitto-prettyembed-button__background {
  fill: var(--prettyembed-button-background-color, Variables.$prettyembed-button-background-color);
  fill-opacity: var(--prettyembed-button-background-opactiy, Variables.$prettyembed-button-background-opactiy);
  stroke-width: var(--prettyembed-button-background-stroke, Variables.$prettyembed-button-background-stroke);
}

.jonnitto-prettyembed-button--pause {
  top: auto;
  bottom: var(--prettyembed-button-pause-margin, Variables.$prettyembed-button-pause-margin);
  left: var(--prettyembed-button-pause-margin, Variables.$prettyembed-button-pause-margin);
  width: var(--prettyembed-button-pause-size, Variables.$prettyembed-button-pause-size);
  height: var(--prettyembed-button-pause-size, Variables.$prettyembed-button-pause-size);
  transition: opacity 0.25s linear;
  opacity: 0;
}

:is(.jonnitto-prettyembed, .jonnitto-prettyembed-lightbox__content):is(:hover, :focus) .jonnitto-prettyembed-button--pause {
  opacity: var(--prettyembed-button-opacity, Variables.$prettyembed-button-opacity);
}
