// Basis stuff
$prettyembed-controls-opacity: 0.65 !default;
$prettyembed-controls-color: #fff !default;
$prettyembed-lightbox-padding: 15px !default;

// Lightbox stuff
$prettyembed-include-lightbox: true !default;
$prettyembed-overlay-color: #0b0b0b !default;
$prettyembed-overlay-opacity: 0.8 !default;
$prettyembed-lightbox-max-width: 900px !default;
$prettyembed-shadow: 0 0 8px rgba(#000, 0.6) !default;
$prettyembed-z-index: 1500 !default;
$prettyembed-close-size: 30px !default;
$prettyembed-play-button: "PlayButton.png" !default;
$prettyembed-pause-button: "PauseButton.png" !default;